// place your custom styles here
.vp-sidebar-header {
  padding: 0.5rem 0.5rem;
}

.vp-sidebar-link {
  font-size: .875rem;
  line-height: 1.6rem;
  padding: 0.5rem 0.5rem;
}

.vp-sidebar-link.active {
  // background-color: transparent;
}

.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
  font-size: 16px;
}

@font-face {

  font-family: PingFang; /* 自定义字体名称 */
  
  src: url(/assets/fonts/PingFang/pingfangsc-regular.otf); /* 字体文件的路径 */
}

@media (min-width: 1440px) {
  body {
    font-size: .875rem;
  }
}

th, td {
  padding: 0.5em 0.6em;
  border: 1px solid var(--vp-c-border-hard, #d1d4d7);
  border-right: none;
  border-left: none;
  transition: border-color var(--vp-t-color);
}

th {
  font-weight: 600;
  color: #000;
}

table,tbody,thead {
  width: 100%;
  line-height: 1.5rem;
}

tbody tr:nth-child(odd) {
  background: #fff;
  // transition: background-color var(--vp-t-color);
}
